{% extends "base.html" %}

{% block content %}
<main id="content">
<h1>Login for Sunderland local verify services</h1>
<form action="/login" method="post" id="login_form">
    <fieldset>
        <label for="username">Username</label>
        <input class="text-input" id="username" name="username" type="text" value="">
    </fieldset>

    <fieldset>
        <label for="password">Password</label>
        <input class="text-input" id="password" name="password" type="password" value="">
    </fieldset>

    <p>{{ errormessage }}</p>

    <div id="form_btn">
        <input id="signin-btn" class="btn btn-blue" type="submit" value="Sign In" tabindex="3">
    </div>
</form>
</main>
{% endblock %}
