aenum==1.4.5
alembic==0.7.0
aniso8601==0.92
appnope==0.1.0
APScheduler==3.3.1
attrs==16.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bleach==2.1.2
bokeh==0.12.13
click==6.6
colorama==0.3.7
coverage==4.4.2
cycler==0.10.0
dbf==0.96.8
decorator==4.1.2
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
feedparser==5.2.1
Flask==0.10.1
Flask-APScheduler==1.7.0
Flask-HTTPAuth==3.2.2
Flask-WTF==0.14.2
google-api-python-client==1.6.2
greenlet==0.4.5
gspread==0.4.1
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.9.2
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
lockfile==0.12.2
luigi==2.7.1
lxml==3.8.0
Mako==1.0.0
MarkupSafe==1.0
matplotlib==2.0.2
MechanicalSoup==0.8.0
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.4
notebook==5.2.2
numpy==1.14.0
numpydoc==0.6.0
oauth==1.0.1
oauth2==1.9.0.post1
oauth2client==4.0.0
oauthlib==2.0.4
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pbr==3.1.1
pexpect==4.3.1
pickleshare==0.7.4
ply==3.9
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycrypto==2.6.1
Pygments==2.2.0
pygsheets==1.1.2
pymongo==3.4.0
pyparsing==2.2.0
pytest==3.2.5
pytest-cov==2.5.1
python-daemon==2.1.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.11.1
requests-mock==1.4.0
requests-oauthlib==0.8.0
rsa==3.4.2
scipy==0.19.1
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.0.8
terminado==0.8.1
testpath==0.3.1
textblob==0.13.0
tornado==4.5.3
traitlets==4.3.2
tweepy==3.5.0
twitter==1.17.1
twython==3.6.0
tzlocal==1.4
uritemplate==3.0.0
uritemplate.py==0.3.0
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.9.6
widgetsnbextension==3.1.0
WTForms==2.1
