<!DOCTYPE html>
<html>
  <head>
    <title>Bar charts with Bokeh!</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.css" rel="stylesheet">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.0.2.min.js"></script>
    <style>
                .embed-wrapper {
                    display: flex;
                    justify-content: space-evenly;
                }
            </style>
  </head>
  <body>
		{% block content %}
		{% endblock %}
	</body>
</html>
