
{% extends "base.html" %}

  {% block content %}
  <main id="content" role="main">
    <div>
    <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4" style="background-color:cream;">

    <h1 class="display-1">2018 goal kilometers: 1000</h1>

    </div>
    <div class="col-sm-4" style="background-color:cream;">

    <h1 class="display-1">2018 actual kilometers: {{ total_kms }}</h1>

    </div>
    <div class="col-sm-2" style="background-color:dark-green;">
    </div>
  </div>
    </div>

  <div>
    <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" style="background-color:cream;">

      {{ the_div|safe }}

      {{ script|safe }}

      {{ the_script|safe }}


    </div>
    <div class="col-sm-2" style="background-color:dark-green;">
    </div>
  </div>
  </div>

    <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" style="background-color:cream;">

    </div>
    <div class="col-sm-2" style="background-color:dark-green;">
    </div>
  </div>


    {% endblock %}
